body {
  font-family: monospace;
  background-color: #1d1d1d;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column; /* Changed to column layout for smaller screens */
  align-items: center; /* Center align */
  padding: 20px;
  background-color: #292929;
}

img {
  width: 50%; /* Make the image responsive */
  max-width: 150px; /* Limit maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%;
  margin-bottom: 10px; /* Add some space below the image */
}

main {
  padding: 20px;
}

nav {
  display: flex;
  justify-content: center; /* Center align nav links */
}

nav a {
  color: #ccc;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #292929;
}

.contact {
  text-align: center; /* Center align contact text */
}

.tag {
  margin-top: 10px; /* Add some space above the tag */
}
